<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Examina</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <!-- Remove the lines below and add your code here as this is the index page -->
    <h1>Examina</h1>
    <h2>An Online Examination System for seamless and secure examinations</h2>
    <p>ipsum dolor sit amet consectetur adipisicing elit. Amet voluptas recusandae quisquam distinctio quo esse
        vero veritatis adipisci voluptatum libero porro sequi aliquid sit, reprehenderit consequatur laudantium quam
        delectus molestias!</p>
</body>

</html>